%p#notice= notice

%p
  %b Title:
  = @admin_classified.title
%p
  %b Price:
  = @admin_classified.price
%p
  %b Location:
  = @admin_classified.location
%p
  %b Description:
  = @admin_classified.description
%p
  %b Category:
  = @admin_classified.category
%p
  %b Slug:
  = @admin_classified.slug

= link_to 'Edit', edit_admin_classified_path(@admin_classified)
\|
= link_to 'Back', admin_classifieds_path
