= simple_form_for(@admin_user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :slug
    = f.input :first_name
    = f.input :last_name
    = f.input :password
    = f.input :password_confirmation
    = f.input :email
    = f.input :admin

  .form-actions
    = f.button :submit
