.sidebar
  %h5 Related Searches
  %ul.list-unstyled
    %li= link_to 'Arts', ''
    %li= link_to 'Cars', ''
    %li= link_to 'Computers', ''
    %li= link_to 'Education', ''
    %li= link_to 'Family', ''
    %li= link_to 'Food', ''
    %li= link_to 'Health', ''
    %li= link_to 'Hobbies', ''
    %li= link_to 'Holidays', ''

  %h5 Related Tags
  %ul.list-unstyled
    %li= link_to 'Arts', ''
    %li= link_to 'Cars', ''
    %li= link_to 'Computers', ''
    %li= link_to 'Education', ''
    %li= link_to 'Family', ''
    %li= link_to 'Food', ''
    %li= link_to 'Health', ''
    %li= link_to 'Hobbies', ''
    %li= link_to 'Holidays', ''

  %h5 Related Topics
  %ul.list-unstyled
    %li= link_to 'Arts', ''
    %li= link_to 'Cars', ''
    %li= link_to 'Computers', ''
    %li= link_to 'Education', ''
    %li= link_to 'Family', ''
    %li= link_to 'Food', ''
    %li= link_to 'Health', ''
    %li= link_to 'Hobbies', ''
    %li= link_to 'Holidays', ''